{{ define "main" }}
<section style="max-width: 900px; margin: 0 auto; overflow: hidden">
  <img
    src="{{ .Site.Params.avatar }}"
    alt="Profile Picture"
    style="
      border-radius: 50%;
      width: 125px;
      height: 125px;
      object-fit: cover;
      float: right;
      margin-left: 1rem;
    "
  />
  <p>
    I am a Senior Software Engineer at
    <a href="https://blockfills.com" target="_blank">Blockfills</a> - a global
    cryptocurrency liquidity provider - where I've led engineering efforts for our OTC
    derivatives trading desk and supported our aggregated crypto liquidity feed.
  </p>
  <p>
    Previously, I was a trader at the proprietary trading firm
    <a href="https://gelbergroup.com" target="_blank">Gelber Group</a> in
    Chicago. I traded across a wide range of asset classes including spot FX and Equity Index futures.
  </p>
  <p>
    I graduated from
    <a href="https://www.williams.edu" target="_blank">Williams College</a> in
    2016 with a B.A. in Math.
  </p>
</section>

{{ $pages := where .Site.RegularPages "Type" "in" site.Params.mainSections }} {{
range $pages }} {{ .Render "summary" }} {{ end }} {{ end }}
