body {
  /* background-color: #282c34; */
  background-color: white;

  
}
.nav-container {
  display: grid;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  grid-template-columns: repeat(10, 1fr);
  /* background-color: #282c34 */
  background-color: white;
  
}

.nav-item1 {
  text-align: center;
  font-size: 18px;
  /* font-family: "Titillium Web", sans-serif; */
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.nav-item2 {
  grid-column: 10/11;
  text-align: center;
  font-size: 18px;
  font-family: "Titillium Web", sans-serif;
}

.nav-item1 a:hover, .nav-item2 a:hover {
  color: #f0a04b;
  /* border-bottom: 2px solid #183a1d; */
}
a {
  color: black;
  text-decoration: none;
  /* font-family: 'Architects Daughter', cursive; */
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 24px;
}

#git {
  margin-left: 5px;
}

.main-header-container {
  display: grid;
  margin-top: 40px;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
}

h1 {
  margin-bottom: 0;
  color:black;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 36px;
  text-align: center;
  /* font-size: 50px; */
}
#title {
  margin-top:5;
  color: black;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#photo {
  position: absolute;
  border-radius:50%;
  /* margin-left: 65%; */
  margin-left: 60%;
  width: 10%;
}

.Name {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

p{
  color: black;
  /* font-family: 'Architects Daughter', cursive; */
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

#content-p {
  margin-top: 10%;
}

.content-container {
  display: grid;
  margin-top: 125px;
  margin-left: 20%;
  margin-right: 20%;
  /* padding: 10px; */
  /* grid-column-gap: 20px; */
  grid-row-gap: 25px;
  grid-template-columns: 33% 33% 33%;


}
.content-item {
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

body .content-item:hover {
  /* box-shadow: 2px 8px 45px rgba(0, 0, 0, .15); */
  transform: translate3D(0, -2px, 0);

}
img { 
  max-width:50%;
  max-height:50%;
}

.icon-bar {
  position: fixed;
  left: 0;
  bottom: 5%;
  width: 100%;
  text-align: center;
}

.fa {
  font-size: 20px;
  display: inline;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-twitter {
  /* color: #55ACEE */
  color: black;
}

.fa-linkedin {
  /* color: #007bb5 */
  color: black;
}

.home-wrapper {
  display: grid;
  grid-template-rows: 80% 15% 5%;
  align-items: center;
  justify-items: center;
  text-align: center;
}

#home-photo {
  display: block;
  padding-bottom: 0;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0%; 
}

.home-title {
  font-size: 60px;
  margin-top: -5%;
}
.home-subtitle {
  margin-top: -1%;
}